.ipynb_checkpoints/
data/*
notebooks/plots/*
notebooks/catboost_info/*
pyrightconfig.json
credit_scoring.egg-info
delme.png

.devenv*
devenv.local.nix
devenv.local.yaml
devenv.lock
uv.lock

__pycache__/
.venv/
.python-version
.ruff_cache

.direnv/

.pre-commit-config.yaml
