.ipynb_checkpoints/
data/*
notebooks/plots/*
catboost_info
pyrightconfig.json
credit_scoring.egg-info
delme.png

.devenv*
devenv.local.nix
devenv.local.yaml
devenv.lock
uv.lock

report/.auctex-auto
report/report.log
report/report.out
report/report.synctex.gz
report/report.tex

__pycache__/
.venv/
.python-version
.ruff_cache

.direnv/

.pre-commit-config.yaml
