.ipynb_checkpoints/
/data/
pyrightconfig.json
credit_scoring.egg-info
delme.png

.devenv*
devenv.local.nix
devenv.local.yaml
devenv.lock
uv.lock

__pycache__/
.venv/
.python-version
.ruff_cache

.direnv/

.pre-commit-config.yaml
